* {
    box-sizing:border-box
}

body {

    width: 500px;
}
h1 {
    margin-left: 450px;
    font: 60px sans-serif;
    font-weight: bold;
}
div {
    display: flex;
    background-color: rgb(247, 246, 248);
    align-items: center;
    margin:60px;
    margin-bottom: 0px;
    width: fit-content;


}



img {
 width: 475px;
 height: 281px;
 margin: 50px;

}


.text {
    display:inline-flex;
    width: 475px;
    height: 150px;
    padding-left: 170px;
    background-color: rgb(247, 246, 248);
    text-align:center;

    font: 40px sans-serif;
    color: rgb(78, 57, 105);
    text-decoration: none;
    margin: 200px; 
    margin-bottom:20px;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 80px;
    align-items: center;
    padding-right: 100px;
        
    }


    span {
        display: inline-flex;
        background-color: rgb(247, 246, 248);
        width: 1149px;
        height: 150px;
        align-items: center;
        margin-left: 60px;

    }




